body {
  font-family: sans-serif;
  padding: 20px;
  background-color: #f0f9ff;
}
h1 {
  color: #007acc;
}
label, input, select, textarea {
  display: block;
  margin: 10px 0 5px;
  width: 100%;
}
input, select, textarea {
  padding: 8px;
  font-size: 16px;
}
button {
  padding: 10px 20px;
  background-color: #007acc;
  color: white;
  border: none;
  margin-top: 10px;
  cursor: pointer;
}
#respuesta {
  margin-top: 20px;
  font-weight: bold;
}
